<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>觅影需要访问局域网设备（如 NAS、WebDAV、Plex、Emby、Jellyfin）以连接并播放你的媒体文件。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_smb._tcp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_webdav._tcp</string>
		<string>_webdavs._tcp</string>
		<string>_plexmediasvr._tcp</string>
		<string>_jellyfin._tcp</string>
		<string>_emby._tcp</string>
	</array>
</dict>
</plist>
