package="OmniPlay"
displayname="OmniPlay"
version="0.1.0-0001"
os_min_ver="7.0-40000"
arch="{{ARCH}}"
maintainer="OmniPlay"
description="OmniPlay NAS media library and web player."
thirdparty="yes"
startable="yes"
silent_install="no"
silent_upgrade="no"
silent_uninstall="no"
