package="OmniPlay"
displayname="OmniPlay"
version="0.1.0-0008"
os_min_ver="7.0-40000"
arch="{{ARCH}}"
maintainer="OmniPlay"
description="一款带TMDB刮削海报墙播放器。"
thirdparty="yes"
startable="yes"
dsmuidir="ui"
dsmappname="com.omniplay.nas"
adminprotocol="http"
adminport="45721"
adminurl="/"
silent_install="no"
silent_upgrade="no"
silent_uninstall="no"
